.app-contenedor {
  width: 460px;
  margin: 24px auto;
  background-color: white;
  border: 1px solid #d8d5cf;
  border-radius: 24px;
  overflow: hidden;
}

.filtro-contenedor {
  display: flex;
  gap: 10px;
  padding: 16px 22px;
  border-top: 1px solid #e6e2dc;
  border-bottom: 1px solid #e6e2dc;
  background-color: white;
}

.filtro-boton {
  padding: 9px 16px;
  border: 2px solid #d0ccc6;
  border-radius: 999px;
  background-color: white;
  color: #5f5f5f;
  font-size: 17px;
  cursor: pointer;
}

.filtro-boton.todos{
  background-color: #4b3fd1;
  color: white;
  border-color: #4b3fd1;
  font-weight: bold;
}

.filtro-boton.trabajo{
  background-color: #173f82;
  color: white;
  border-color: #173f82;
  font-weight: bold;
}

.filtro-boton.familia{
  background-color: #145a4b;
  color: white;
  border-color: #145a4b;
  font-weight: bold;
}

.filtro-boton.amigo{
  background-color: #921d75;
  color: white;
  border-color: #921d75;
  font-weight: bold;
}

.app-contactos-mostrados {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e6e2dc;
}

.app-contactos-mostrados-texto {
  color: #555;
  font-size: 17px;
}